[2020-01-19 16:20] shayaantx opened #4 "Add support for slack"

[2020-01-28 03:19] shayaantx commented on #4
added in 5d452be66e216bd3413806f72b371c6077ed8a85 and 278b56666b20942984bbacf06ea1fdc4d7eb761a

[2020-01-28 03:19] #4 closed, assigned to nobody

[2020-02-03 05:12] JohnnyB813 opened #5 "Feature Request"
1. Reaction based interaction with the bot. (i.e. the bot responds to a movie request with a 👍 and 👎 and asks the user to chose one)

2. add a prefix to the bot to distinguish commands from normal text. (i.e. ! or @ or $. and have it configurable via the properties file or using the command !prefix in discord)

3. Limit movie search results to the top 5 from radarr, and possible have a reaction ba

[2020-02-07 23:57] ExtraMediumPizza opened #6 "Overwrite old news"
Time sensitive programs should be overwritten to save storage space. Every 3 - 8 days depending on storage needs.

[2020-02-08 00:02] ExtraMediumPizza opened #7 "A comment system to rename mislabed files or even files worth skipping."
!flag "program" "season" "episode"

!flag "id"

!flag filler "id"

!flag duplicate "id"

!rename "program" "season" "episode"

This isn't the recommended syntax but an idea of what you could do to resolve the issue manually or through the effort of other invested participants.

[2020-02-09 23:26] shayaantx commented on #5
In https://github.com/shayaantx/botdarr/releases/tag/4.4.13 I added discord thumbs up reaction if you want to check it out. I'm not sure what you want thumbs down to, but linking thumbs up to adding content makes sense to me.

I think adding a configurable limit on search results also makes sense and I'll add that at some point this week, same with the configurable prefix.

However I'm not sure I

[2020-03-26 22:09] shayaantx commented on #5
In https://github.com/shayaantx/botdarr/releases/tag/4.4.25 I added ability to configure max number of downloads to show and max number of results to show, fyi

[2020-04-01 20:42] shayaantx commented on #6
I think this makes sense, but sonarr (the tool the bot interacts with shows) does not have an api option that I see to delete seasons or episodes individually. It only lets me delete the an entire series

I'd also prefer to not introduce features that automatically delete content tbh.

[2020-04-01 20:42] #6 closed, assigned to nobody

[2020-04-01 20:43] shayaantx commented on #7
I'm still investigating if i can leverage the sonarr api to achieve this

[2020-04-11 22:49] shayaantx commented on #5
In https://github.com/shayaantx/botdarr/releases/tag/4.4.26 I added the ability to configure a prefix for all commands via property "command-prefix". The default prefix is now /

[2020-04-11 22:49] #5 closed, assigned to nobody

[2020-05-26 20:11] shayaantx opened #14 "Movies with same name can't be added"
For example oceans eleven has a 2001 version and a 1960 version

[2020-05-26 20:28] ssoc550 commented on #14
name vs number also gives different results, not sure if that is intended but for example, 11 vs eleven give a different selection

[2020-06-21 17:44] shayaantx commented on #7
So sonarr def can't handle this well for certain scenarios, if the rename is targeted to an episode that doesn't exist then sonarr handles it fine, but when you try to do something like

s1e1 (wrong) -> s1e2 (right) but there is already a s1e2, sonarr will do the file import, then the rename will fail with "[v3.0.3.849] System.IO.IOException: Win32 IO returned ERROR_ALREADY_EXISTS. Path: "

The ot

[2020-06-21 17:44] #7 closed, assigned to nobody

[2020-07-02 05:16] shayaantx opened #17 "Fix vunerable log4j version"
https://github.com/shayaantx/botdarr/network/alert/pom.xml/org.apache.logging.log4j:log4j-core/open

[2020-09-25 00:24] shayaantx commented on #17
fixed now

[2020-09-25 00:24] #17 closed, assigned to nobody

[2021-01-20 03:50] shayaantx opened #20 "add https for matrix chat client api calls"

[2021-01-20 04:59] shayaantx opened #21 "add support for radarr v3"

[2021-01-22 15:04] onedr0p opened #22 "Full support for environment variable driven configuration"
It would be nice if you could add support for configuring the app via environment variables, not only the `config.properties`. This would make the configuration much easier when using Docker.

Thanks!

[2021-01-22 20:47] shayaantx commented on #22
@onedr0p sure, I'll try to put up a PR for this, this weekend

[2021-01-23 21:31] shayaantx commented on #22
https://github.com/shayaantx/botdarr/pull/23

if there is anything else you were thinking with this request let me know, otherwise ill merge tomorrow (or tonight)

[2021-01-24 00:54] shayaantx commented on #22
merged this, lemme know of any issues or other suggestions, thanks

[2021-01-24 00:54] #22 closed, assigned to nobody

[2021-01-25 14:31] onedr0p opened #25 "support semver docker image tags"
Hi again! I would like to request that building the Docker image and tagging the images with the release version. Using `:latest` is considered bad practice.

~~Not sure how you are building and pushing your image to Dockerhub, but~~ Instead of Jenkins you could use Github actions to build and push your image. Here's an example of building a multi-arch Docker image https://github.com/sentriz/gonic

[2021-01-25 14:34] onedr0p commented on #25
I am also looking at your `Dockerfile` now, any reason you don't want to use the openjdk base image over centos?

https://hub.docker.com/_/openjdk

[2021-01-25 15:37] shayaantx commented on #25
@onedr0p agreed using latest isn't great, only reason I use this is cause I just assume everyone always gets latest version of the bot (no idea if anyone even uses it :) )

Regardless I can start tagging the release versions. Thinking of still keeping latest tag for anyone who wants to be on literal latest version and then I'll just create tags for each release version (i.e., 5.1.1, 6.1.0, etc - n

[2021-01-25 15:56] onedr0p commented on #25
With github actions `:latest` will always be the same as the latest semver tag, see the lines below.

https://github.com/sentriz/gonic/blob/master/.github/workflows/image.yml#L36-L37

Using Github actions is really straight forward over Jenkins.

I've yet to deploy this bot but plan on making a Kubernetes Helm chart for it over at https://github.com/k8s-at-home/charts once semver tags are added to

[2021-01-25 16:03] shayaantx commented on #25
Looks straightforward, when I get off work later today I'll play around with it, and see if I can get a PR up for it.

[2021-01-25 16:09] onedr0p commented on #25
Minor note: You will have to add `DOCKER_USERNAME` and `DOCKER_TOKEN` secrets to this github repo so Github actions can push to your dockerhub reegistry.

[2021-01-26 04:29] shayaantx commented on #25
Took a stab and added github actions (removed jenkins and appveyor) - https://github.com/shayaantx/botdarr/pull/26

Unsure if this helps you, basically publishing 2 images now using openjdk:8 image (one for latest and one with semver).

I didn't include arm64/amd64 platforms, kept getting "Error: buildx call failed with: error: failed to solve: rpc error: code = Unknown desc = failed to solve with

[2021-01-26 04:31] shayaantx commented on #21
added in linked PR

[2021-01-26 04:31] #21 closed, assigned to nobody

[2021-01-26 11:28] onedr0p commented on #25
No worries in the multi arch side of things, it won't benefit me but maybe someone will come along requesting it haha.

[2021-01-26 22:14] #25 closed, assigned to nobody

[2021-01-26 22:21] shayaantx commented on #25
@onedr0p
![image](https://user-images.githubusercontent.com/5449086/105913487-e6963b00-5ffa-11eb-8886-3e8ed936420b.png)

As always if you have any other feedback/suggestions, don't hesitate to let me know

[2021-01-26 22:30] onedr0p commented on #25
Good work, thanks!

[2021-02-16 14:16] shohart opened #27 "Unexpected error via docker installation"
Hello! I am trying to make the whole thing work in docker environment.
After i configure the whole properties file i get following error

[code]
here is my properties file
[code]

I can feel that it may be wrong syntax but i found no example syntax in repo :((

upd: this [https://github.com/prometheus/cloudwatch_exporter/pull/317](url) looks relevant

[2021-02-16 14:55] shohart opened #29 "Radarr, Sonarr, Lidarr commands are not enabled if path and profile are not configured."
Readme says that these options are not required and should be already set in radarr/sonarr/lidarr itself, but bot refuses to enable commands unless you set those parameters in properties file. after that it fails with error, pointed in other issue.

[2021-02-16 14:56] shayaantx commented on #27
Hi,

The syntax for your properties file looks fine so far (fyi you can use environment variables now instead of a raw properties files in docker setups)

So that stack trace is error-ing on missing profiles for radarr.

1. Are you sure "Russian 1080p" is a profile in your radarr setup?
2. Do you see any other errors in radarr, bot, network logs?

I will verify later today that spaces don't break

[2021-02-16 14:59] shayaantx commented on #29
I guess I should update the doc, they are required IF you use radarr, sonarr, lidarr. I left them optional, cause technically you can run the bot without radarr (and its required properties)

There is no way to not configure these since I need to know which profile you want to use.

I'll update readme

[2021-02-16 15:38] shayaantx commented on #27
So I looked into it a little just now, the quotes around your urls are causing the issue (since I'm not stripping them). If you check the network log you should see something like Caused by: java.net.URISyntaxException: Illegal character in scheme name at index 0: 'http://192.168.1.196' etc etc.

I'd remove all single quotes and double quotes they shouldn't be necessary. Also confirmed spaces in p

[2021-02-16 15:40] shayaantx commented on #27
are you using the docker env variables and its automatically adding the quotes? cause if thats the case, let me know, and I'll put something more robust in (also I'll update my examples a bit more)

[2021-02-16 20:12] shohart commented on #29
thank you! Everything is pretty much clear now.

[2021-02-16 20:12] #29 closed, assigned to nobody

[2021-02-16 20:32] shohart commented on #27
So i basically stripped all the quotes, and replaced 'localhost' with actual LAN address - 192.168.1.1. And everything started to work like a charm!

I tried without quotes but with 'localhost' addresses - and system gave me same error.
Maybe some docker-related issue... Strange I used 'localhost' for my various container.

No, env variables are doing their job as they should... I think 'localhost

[2021-02-16 20:50] shohart commented on #27
But every add command ends up with error
Error! - Requested failed with exception, e=null

[2021-02-16 21:09] shayaantx commented on #27
whats in network/radarr log?, sounds like bot can't connect to radarr (or other endpoints)

[2021-02-16 21:32] shohart commented on #27
network.log:

[code]

radarr logs seem to be ok. btw i can search movies, can make !movie discover, but can not add one

[2021-02-16 22:33] shayaantx commented on #27
What about the rest of the logs, that NPE you posted looks new (from blacklisted paths I added last PR). I can fix it that now, but that's not even called during add

There must be another NPE somewhere if you're getting Requested failed with exception, e=null

Also did you crop out rest of those NPE's? Are they the same as above one? (assume they are since they are every 5 minutes, i.e., when we

[2021-02-16 22:40] shayaantx commented on #27
I pushed 5.1.5 to docker (and to latest) with some NPE fixes and some additional logging.

Lemme know if you get more details on the error, if you still have trouble, my email is shayaantx@gmail.com.

I'm happy to look over teamviewer or whatever.

[2021-02-17 02:37] shayaantx opened #30 "add status command"

[2021-02-17 02:38] shayaantx opened #31 "add https for radarr, sonarr, lidarr api calls"

[2021-02-17 10:24] shohart commented on #27
Updated version works fine as it seems. I have a couple of question about functionality, emailed you :)

[2021-02-17 10:24] #27 closed, assigned to nobody

[2021-02-19 00:05] shayaantx commented on #29
fyi I updated doc, hope its more clear https://github.com/shayaantx/botdarr/commit/9bdc1d08a999f59ed4f5c063bdbfb52f3ba303ab

let me know if its still not clear

[2021-02-21 20:45] #30 closed, assigned to nobody

[2021-02-21 21:14] shayaantx opened #34 "dm requestors when requested download completes"

[2021-02-24 02:36] shayaantx opened #35 "make notification interval configurable"

[2021-04-30 22:09] sullystuff opened #38 "Weird java error"
Hi, I am currently trying to run this program but I keep getting errors.  I have openjdk8 installed, and have made sure I've `chown`ed the directory. How do I fix this issue?
`carter@valor:/opt/requestrr3$ java -jar botdarr-release.jar
WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.
Exception in thread "main" java.lang.ExceptionInInitializerError

[2021-04-30 22:10] sullystuff commented on #38
NEVER MIND. Apparently it won't auto-detect which java version is needed, my bad.

[2021-04-30 22:10] #38 closed, assigned to nobody

[2021-04-30 23:02] shayaantx commented on #38
np, fyi I am using/testing against whatever last opendjk 8 is from dockerhub. If you need support for a later version of java, let me know and I can take a look.

If you have any other issues, don't hesitate to let me know

[2021-05-02 21:43] marnunez opened #39 "Docker images for armhf (raspberry pi)"
Hi! I haven't got much experience with Java, but could botdarr be ported to arm?

[2021-05-02 21:52] shayaantx commented on #39
yea sure, lemme look into it

[2021-05-09 02:37] shayaantx commented on #39
so I looked into creating this arm image, see below (there would be a latest for arm32v7 plus release image for arm and other latest would be the normal for 64 bit arch's including 64 bit arm)

I didn't see a way to merge 32bit and 64 bit images in a single tag using github workflows, so I kept them separate. I did have to use a 32bit arm image of openjdk8 to support this, which shouldn't affect t

[2021-05-15 19:36] #39 closed, assigned to shayaantx

[2021-05-15 19:48] shayaantx commented on #39
@marnunez sorry this is so late, but now you can reference docker images for arm64 or armv7 (I tested armv7 on my rpi and it does work)

There are few new images:
latest-arm32v7
<version>-arm32v7
latest
<version>

Anything with the suffix of arm32v7 will work on a 32bit arm (didn't test on anything lower than v7)
The existing tags (latest, 5.1.9, etc) now have support for arm64 as well as existing

[2021-07-22 19:44] shayaantx opened #42 "show existing films in "movie find new" if radarr doesn't have the film"

[2022-01-08 17:55] JulyIghor opened #48 "Telegram does not work"
Telegram now requires int64 support, please fix it.

`2022-Jan-08 16:13:30 PM [pool-3-thread-1] ERROR com.botdarr.scheduling.Scheduler - Error during api notification
com.google.gson.JsonSyntaxException: java.lang.NumberFormatException: Expected an int but was 5018879350 at line 1 column 60 path $.result.from.id
	at com.google.gson.internal.bind.TypeAdapters$7.read(TypeAdapters.java:228) ~[botdarr

[2022-01-08 19:24] shayaantx commented on #48
ill setup telegram again and investigate/fix, I'm currently sick atm so there is a chance I won't get to it this wekeend

[2022-01-08 20:31] shayaantx commented on #48
so I looked into a bit this morning, so far it does seem the error is related using int over int64, however its **not** clear from the json parsing error which field needs to be changed. If I had to guess its message id, since com.pengrad.telegrambot.model.Message#message_id is still a int.

I was not able to reproduce by triggering notifications from any endpoint, since all the ids are normal int

[2022-01-08 21:24] JulyIghor commented on #48
I'm using newly created bot and new group. Also error appears when I'm writing to the group, so it can't read commands but it can send messages

[2022-01-08 21:32] shayaantx commented on #48
Hmm in my local setup I see it reading and sending messages, do you have some time tomorrow to troubleshoot live? maybe on discord or gchat?

Or if you wanna email me the telegram.log file, that might help.

[2022-01-08 21:46] JulyIghor commented on #48
sure, maybe Telegram? t.me/ighor

[2022-01-08 21:47] JulyIghor commented on #48
telegram.log zero size

[2022-01-09 02:57] shayaantx commented on #48
fix is here https://github.com/shayaantx/botdarr/pull/49, just need to write a few test cases tomorrow, then I'll merge/push out a new release.

[2022-01-09 19:41] #48 closed, assigned to nobody

[2022-01-21 19:36] marjoemitchell opened #51 "Allow Notification Editing"
Currently botdarr notifies slack channel with a lot of other info like errors and downloads etc. It would be nice to have the option to decide exactly what alerts it can ignore.

[2022-01-21 20:44] shayaantx commented on #51
right, lemme setup my slack workspace again, and see what alerts we can add some configuration around

were there particular type of notifications you wanted to ignore?

[2022-01-23 00:29] shayaantx commented on #51
So if you set MAX_DOWNLOADS_TO_SHOW=0 in your setup downloads will stop showing up, however I'm not clear what errors you are referring to?
Are you talking about radarr/sonarr specific errors in the download messages or the entire download message?

[2022-01-23 01:07] marjoemitchell commented on #51
Thanks for the quick response and for botdarr! Ill give that a go for downloads. One of the error messages I see in slack is when my unraid server shuts down botdarr sends a notification for connections refused:

`Error - Requested failed with exception, e=Connect to 192.168.1.5:7878 [/192.168.1.5] failed: Connection refused (Connection refused),class=class org.apache.http.conn.HttpHostConnectExce

[2022-01-23 02:13] shayaantx commented on #51
Yea I can see how that would be annoying when botdarr is up but radarr/sonarr is down. I'll put up a PR tonight or tomorrow that only logs the failure to connect instead of sending notifications for it.

[2022-01-23 02:59] shayaantx commented on #51
added https://github.com/shayaantx/botdarr/pull/52, just need to add a test or two, then I'll merge

[2022-01-24 03:00] shayaantx commented on #51
@marjoemitchell I modified download notifications to not send notifications but log silently if the endpoints are down. Please let me know of any other issues or improvements that I can make that will help you.

Thanks

[2022-01-24 04:58] marjoemitchell commented on #51
@shayaantx thanks! I was actually using ombibot before and there are some nice features added in for messages, where the response for your search includes downloads buttons. I pulled down the code for botdarr to see if I could get it going, but it's definitely too much for my current skills.

[2022-01-25 00:10] shayaantx commented on #51
@marjoemitchell that seems possible, go ahead put an enhancement with details, and I'll take a look.

I did add the ability to react with thumbs up to search results in discord which adds, but we could add that for slack too. Plus some download buttons as well.

[2022-01-25 00:32] shayaantx commented on #51
the code is actually pretty easy to change (or I hope it is), if you're on discord or something, send me your handle, and we can discuss more. I'm always down to help someone who wants to make changes

[2022-01-25 00:42] marjoemitchell commented on #51
@shayaantx I'm super late to the game but getting into some coding through work. I wouldn't mind giving it a go if you didn't mind setting me in the right direction, that's really nice of you to offer that. Discord is thegorgotron#8177

[2022-01-25 00:46] marjoemitchell opened #53 "Slack - Add download Button to results"
Currently in slack searching for movies/shows gives query results that must be then used to manually add title to radarr/sonarr. New feature would display a "download" button after each result that would send that title to sonarr/radarr when clicked.

[2022-01-25 02:05] marjoemitchell commented on #51
@shayaantx so I set the download notification setting to 0, and recently updated to the latest. Slack later got flooded with "failed to import" notifications from botdarr.

[2022-01-25 02:07] shayaantx commented on #51
hmm I added you on discord lets troubleshoot live today or 2moro

[2022-01-25 06:02] marjoemitchell commented on #51
@shayaantx ok I think I know what the issue was. I was unable to find the config file in my unraid server (Im running this in docker) so I execd in and changed the properties file, forgetting that on an update those would get changed back to default. Im used to the containers having a specified installed location as a variable during setup (for me config /mnt/cache/appdata). I went back in and rea

[2022-01-25 06:02] #51 closed, assigned to shayaantx

[2022-02-18 03:10] shayaantx opened #54 "Discord - Need to support slash commands"
I think in next couple of months we won't be able to read text freely from events, so I'll have to workaround it.

Seems like the underlying discord library I use might have solved this already somewhat, https://github.com/DV8FromTheWorld/JDA/pull/1501

[2022-02-18 08:29] 10bn opened #55 "!movie find new dosen't work"
I cant search for movies or use the bot apart from checking the enpoint status.
Any sugggestions what could be the cause of this?

**Telegram Chat:**
[code]
[code]
**Docker Log:**
[code]
**Botdarr Config:**
[code]

[2022-02-18 19:12] shayaantx commented on #55
If `!movie find new <movie-title>` doesn't work, post the bot log. If you want to troubleshoot live post your telegram or discord or email and I can help you live.

[2022-02-19 12:19] 10bn commented on #55
that's very kind of you, here is my discord JaDDeL#0772

[2022-02-19 22:29] shayaantx commented on #55
sent you a friend request

[2022-02-21 16:24] shayaantx commented on #55
@jaddel still having the issue? sent you a friend request, nothing back yet (Rude Yoshi#0570)

[2022-02-21 17:46] 10bn commented on #55
just accepted it :)

[2022-02-22 00:49] #55 closed, assigned to nobody

[2022-02-27 00:20] telix5000 opened #57 "Error with Lidarr"
Using Lidar I receive: "errorMessage": "Failed to read the request form. Form key length limit 2048 exceeded." when trying to add an artist.

Lidarr Version:
Version
    1.0.0.2471
Package Version
    1.0.0.2471-ls119 by [linuxserver.io](https://www.linuxserver.io/)

[2022-02-27 04:55] shayaantx commented on #57
I'll resetup lidarr and take a look

[2022-02-27 05:03] telix5000 commented on #57
Thanks. It just keeps spitting back an error upon trying to add anyone. Using the nightly build of Lidarr as stated.

Sent from my iPhone

[2022-02-27 06:51] shayaantx commented on #57
Yea something probably changed, cause on older version of lidarr I wrote the code on, it worked.

I'll install the new version and make some changes so it works. Should have something submitted tomorrow or monday

[2022-02-27 06:57] shayaantx commented on #57
I should ask, are you sure you want to be on the nightly lidarr? usually I opt to support only stable versions of radarr, sonarr, lidarr (that way I only need to support on stable version of the *arr apis) and it looks like the stable version (at least for docker) is still on 0.8.x https://github.com/linuxserver/docker-lidarr/releases

[2022-02-27 07:16] telix5000 commented on #57
Well, the older one hasn’t been updated in forever. I have a library of around 100k tracks and it works pretty well as-is. I actually had more issues with the older one, thus, I went with the newer one. Also, I think your documentation did say version 1.x for Lidarr so I was under the impression it was already updated. Even so, if you’re going to fix it – much appreciated; and it’s likely going to

[2022-02-27 07:16] telix5000 commented on #57
Well, the older one hasn’t been updated in forever. I have a library of
around 100k tracks and it works pretty well as-is. I actually had more
issues with the older one, thus, I went with the newer one.

Also, I think your documentation did say version 1.x for Lidarr so I was
under the impression it was already updated. Even so, if you’re going to
fix it – much appreciated; and it’s likely going t

[2022-02-27 17:13] shayaantx commented on #57
yah my bad, I mistakenly thought the existing 0.x version was technically v1, guess I was wrong :)

[2022-02-27 18:06] shayaantx commented on #57
I tested with v1(latest nightly v1) and v0 and add artist is working for both with the linked PR @telix5000

let me know if you have anymore issues (if you have discord or telegram or matrix, post it, and I'll FR so you can message me directly with any issues)

[2022-02-27 19:33] telix5000 commented on #57
Nah it’s cool. This thing is great tho. The Lidarr system looks like it’s going to take awhile to catch up with the other two.

Sent from my iPhone

[2022-02-27 19:42] telix5000 commented on #57
Thank you!

On Sun, Feb 27, 2022 at 10:07 AM shayaantx ***@***.***> wrote:

--
Matthew Aaron Song
***@***.***

[2022-02-27 20:37] telix5000 commented on #57
My Telegram is @telix5000

On Sun, Feb 27, 2022 at 10:06 AM shayaantx ***@***.***> wrote:

--
Matthew Aaron Song
***@***.***

[2022-02-27 21:29] telix5000 commented on #57
FYI --         "errorMessage": "The JSON value could not be converted to System.String. Path: $.overview | LineNumber: 0 | BytePositionInLine: 3144." is the error I get in Lidarr now. I get a 400 error on the bot trying to add something new.

[2022-02-27 22:36] shayaantx commented on #57
I'll add you on telegram anmd we can troubleshoot furtther

[2022-02-28 00:56] #57 closed, assigned to nobody

[2022-03-13 20:25] mac-110 opened #62 "Strange error via docker installation"
i am currently trying to get botdarr running in a docker container under Unraid.

Property file looks following:

telegram-private-channels=****:-100************
radarr-url=http://192.168.1.100:7878
radarr-token=<omitted>
radarr-default-profile=Ultra-HD
radarr-path=/media/movies
max-downloads-to-show=20
max-results-to-show=20
command-prefix=!
timeout=5000

and I am getting following stack trace:

[2022-03-13 20:34] mac-110 commented on #62
I found the problem, it was the -100 in front of the channel id

[2022-03-14 01:56] shayaantx commented on #62
I'll fix the null pointer

[2022-03-14 01:56] shayaantx commented on #62
are you using latest version?

[2022-03-14 02:18] #62 closed, assigned to shayaantx

[2022-03-14 02:21] shayaantx commented on #62
latest version should have fix, also you should change your radarr token (if you make your radarr instance public to the internet) as you included it in your original post (I removed it)

[2022-03-14 15:48] shayaantx commented on #62
also please let me know if you have any further issues

[2022-03-14 15:52] mac-110 commented on #62
Thx, but I do not plan to make my radarr public!
Everything is working fine now, thank you very much!

Best Ragrds,

Alex

[2022-03-15 08:31] mac-110 commented on #62
it is working like a charm now! is it anyhow possible to add interactive add buttons to the shows/movies offers which you get in telegram so that  there will be no need to copy paste add id ... ?!

[2022-03-15 15:43] shayaantx opened #64 "Telegram - Add interactive buttons to results"

[2022-03-15 15:44] shayaantx commented on #62
its possible, just been busy lately with work, I added this ticket for it https://github.com/shayaantx/botdarr/issues/64

I might have some time this weekend to get some outstanding enhancements

[2022-04-07 16:44] aymanbagabas opened #65 "Add support for Readarr"
Would love to see support for Readarr https://readarr.com/docs/api/

[2022-04-08 14:35] shayaantx commented on #65
been slowly working on https://github.com/shayaantx/botdarr/issues/34, but I'll see about adding this (shouldn't really be hard)

[2022-04-23 16:03] elessyl opened #66 "Constant notifications - No downloads"
I observed a rather annoying behaviour of the bot:
- in every 5 minutes it is spamming every configured backend status about:
   - "No movies downloading"
   - "No shows downloading"
   - "No artists downloading"

Are there any way to disable this ? It is totally pointless and just generating unnecessary traffic...

Bot version: 5.3.1
Configured backends: radarr, lidarr, sonarr
Media channels: dis

[2022-04-23 17:02] shayaantx commented on #66
I agree this is pretty annoying, I'm completely reworking notifications in https://github.com/shayaantx/botdarr/issues/34 but until thats done I put up https://github.com/shayaantx/botdarr/pull/67 which gets rid of this periodic notification (it will still show if you use the actual downloads command manually)

later today or tomorrow morning I'll fix test cases and merge it.

[2022-04-24 03:08] #66 closed, assigned to shayaantx

[2022-04-24 03:08] shayaantx commented on #66
@elessyl I merged, new version should be built momentarily, let me know if you have any other issues

[2022-05-05 15:13] nmcc1212 commented on #54
+1 for slash commands

[2022-05-05 17:51] shayaantx commented on #54
I'm trying to get through another issue and its just going slowly cause of life/work/etc. I'm hoping to finish this other issue, then I can tackle some of these chat client specific issues

[2022-05-05 17:52] shayaantx commented on #54
@nmcc1212 always open to PR's and what not :)

[2022-05-14 15:53] EricCartman912 opened #68 "Discord integration not working"
I tried setting up botdarr with discord. The docs were quite helpful and I got the docker container and the discord bot working together perfectly.

However, the bot does not respond to or detect any commands whatsoever, including the help command, with an exclamation at the beginning of it.

[2022-05-14 16:01] shayaantx commented on #68
hi, any errors in the logs?

if you wanna add me on discord I can take a look

[2022-05-14 16:07] Suyash9 commented on #68
Hello,

There are absolutely no errors in the logs or in the docker logs either which was the surprising part of it

[2022-05-14 16:10] EricCartman912 commented on #68
Hello,

There are absolutely no errors in the logs. In the discord logs it shows connection was successful. The radarr logs are completely empty.

The only thing I saw was warnings for sonarr and lidarr which I have not setup.

[2022-05-14 16:10] shayaantx commented on #68
add me on discord and I'll take a look, @EricCartman912

Rude Yoshi#0570

[2022-05-14 16:15] EricCartman912 commented on #68
Discord says that I’m unable to send you friend requests as this user is not accepting friend requests

[2022-05-14 16:16] shayaantx commented on #68
try again @EricCartman912

[2022-05-15 15:56] shayaantx commented on #68
we ended up figuring this out, just a mis config in discord settings using channel ids instead of channel names.

I updated readme + added some more logs to make it obvious the channel config was the issue + made the ability to turn on debug logging via an environment variable

let me know if you have any other issues

[2022-05-15 15:56] #68 closed, assigned to shayaantx

[2022-05-18 22:14] shayaantx commented on #54
@nmcc1212 fyi I pushed an experimental tag for this functionality in dockerhub called 5.4.0-experimental if you wanna test it out. You'll need to re-invite your bot with new permission

see https://github.com/shayaantx/botdarr/tree/feature/discord-slash-commands#discord-bot-installation for some details on enabling slash command support.

I still need to write some test cases, then I'll merge it.

[2022-05-21 08:22] Aerya commented on #54
Hi,

I'm trying your Bot, using the "experimental" Docker but got an error related to the /

[code]

Here's my Docker, what's wrong with it?
[code]

Thanks

[2022-05-21 22:32] shayaantx commented on #54
@Aerya if you use discord by default, slash commands are enabled, but you can't use "/" as a prefix (since there are basically two modes - with and without slash commands), so you can unset that environment variable, and you should have slash commands automatically + the non slash command mode (so you will / and ! prefixes available).

Although I wonder if you will have issues with https://github.

[2022-05-22 07:38] Aerya commented on #54
Thanks.

I miss something as the bot doesn't work at all (with -e COMMAND_PREFIX="!" \)
![ ](https://i.imgur.com/fTuki9d.png)

No matter, I already use Requestrr and also tested Doplarr that works out of the box.

I might give a new try to your bot the day i'll use Telegram more than Discord. Thank you for your work.

[2022-05-22 10:06] shayaantx commented on #54
@Aerya can you post a zip of the logs

you can add me on discord and I can take a deeper look, Rude Yoshi#0570

does your channel name actually contain "#"
[code]

[2022-05-22 10:21] Aerya commented on #54
OMG! Call me noob :'(

I had to remove the # in the channel name. It obviously works like a charm :)
![](https://i.imgur.com/VjQhi44.png)

I can now write my tutorial about your work. Thanks!

[2022-05-22 10:38] Aerya opened #75 "Dropdown instead of listing"
Hi,

Have you ever thought about replacing the listing results with a dropdown menu like Requestrr/Doplarr?  Seems to be way easier for the user to browse/select the movie/whatever to add to *arr.

![](https://upandclear.org/content/images/2021/12/2021-12-31-12_13_02-Ferdi---Discord---reqz.png)

![](https://upandclear.org/content/images/2022/05/R8zvq2U.png)

[2022-05-22 10:51] Aerya opened #76 "Can't add movie, due to French title?"
Radarr is connected to the bot:
![](https://i.imgur.com/a0a0EpJ.png)

I can search for a movie
![](https://i.imgur.com/r5yD4S8.png)

But can't add it
![](https://i.imgur.com/TDL8Kwo.png)
![](https://i.imgur.com/OnTdaSE.png)

Nothing in the logs
![](https://i.imgur.com/o5n6tOe.png)

[2022-05-22 15:14] shayaantx commented on #75
@Aerya haven't considered, but it would be easy to do.

I however don't want to just copy what other bots tbh. I can add some sort of feature flag for this when I get some time to add it.

[2022-05-22 15:15] shayaantx commented on #76
@Aerya what version of radarr are you running?

is there anything in the radarr or network logs?

Did adding other non french named films work?

[2022-05-22 15:16] shayaantx commented on #54
@Aerya you're not a n00b. I think I can probably do some pre processing on channel names entered to remove any special characters to avoid this, thanks for finding this edge case

[2022-05-22 15:26] Aerya commented on #75
I understand (and see) you don't copy/rebrand another bot but I think this feature is easier to read/browse than displaying each movie (or else) in the chan.

[2022-05-22 15:29] Aerya commented on #76
Radarr:
[code]

Trace logs concerning this req
[code]

[2022-05-22 15:30] shayaantx commented on #31
at somepoint this naturally got fixed, cause I can point my latest botdarr version at radarr https endpoints, and it works fine.

[2022-05-22 15:30] #31 closed, assigned to nobody

[2022-05-22 15:31] shayaantx commented on #76
I'll investigate

[2022-05-22 15:32] Aerya commented on #76
Same with English title
![](https://i.imgur.com/zP4ZrpP.png)

[code]

[2022-05-22 15:32] shayaantx commented on #75
yea I was just testing something and can see how its kinda weird at least from the slash command perspective.

So I'll probably pursue something like this, also fyi you can thumbs up any film, and it will add it as well.

[2022-05-22 15:35] shayaantx commented on #76
@Aerya yea I just reproduced it, something to do with encoding for non english languages. I gtg for right now, but will investigate tonight, and push something that fixes (to develop and the slash discord branch)

[2022-05-22 15:37] Aerya commented on #76
NP mate, no hurry :)

[2022-05-22 15:45] shayaantx commented on #76
I was able to fix this here https://github.com/shayaantx/botdarr/pull/77, I need to test sonarr and lidarr later tonight, then I'll merge.

but it did work with the movie you tried

![image](https://user-images.githubusercontent.com/5449086/169703940-34f1aeff-345b-45cb-b3e1-b92465851a7c.png)

[2022-05-23 01:32] #76 closed, assigned to nobody

[2022-05-23 01:42] shayaantx commented on #76
merged to 5.3.5 @Aerya , I did merge to the slash command feature branch, but somehow i broke test cases during the merge.

I will look at it later tonight or 2moro morning (still want to do https://github.com/shayaantx/botdarr/issues/75 before releasing slash commands + i need to write some unit tests around the slash commands)

[2022-05-23 16:36] shayaantx commented on #76
fyi @Aerya pushed these changes to slash command docker tag

[2022-05-23 16:38] shayaantx commented on #75
@Aerya what about something like this specifically for slash commands? This way its easier for someone to just click add me instead of doing any copy/pasting.

I could still pursue a list, but because technically you can configure any max amount of items to show in results, it seems alittle better to not have a giant drop down in those cases.

![image](https://user-images.githubusercontent.com/544

[2022-05-29 07:57] Aerya commented on #76
I'm sorry I couldn't get back to you earlier. It works fine now, thank you!

![](https://i.imgur.com/gnIWVGc.png)

[2022-05-29 08:03] Aerya commented on #75
This button would be great yeah. Seems really easier to add movies than cp the !movie id add xxxx command. And also a bit "faster" than adding a thumbup/+1.

[2022-05-29 15:07] shayaantx commented on #75
@Aerya I pushed the add button stuff for radarr, sonarr, lidarr (for discord slash commands only) to 5.4.0-experimental if you wanna check it out.

I'll probably finish the PR at somepoint today or 2moro

[2022-05-30 02:47] #54 closed, assigned to nobody

[2022-05-30 02:47] #75 closed, assigned to nobody

[2022-06-01 06:59] JulienSambre opened #78 "Error message when typing command"
Hi!

Since the update to the 5.4.0, when I type a command ("!status" for example), I see just below the result a lot of time the same error message (>10) :

![image](https://user-images.githubusercontent.com/14327288/171346038-d8b6c8c5-bf10-4bd9-a6c2-c387fa61f44a.png)

If I rollback to the previsous version (5.3.5, no issue) :

![image](https://user-images.githubusercontent.com/14327288/171346159-

[2022-06-01 13:16] shayaantx commented on #78
@JulienSambre that doesn't sound good, what chat client are you using?

can you post a zip of the logs directory too?

I'll take a look after work today

[2022-06-02 04:15] shayaantx commented on #78
looks like you're using matrix/element, cause I reproduced it there, will fix shortly

[2022-06-02 04:43] #78 closed, assigned to nobody

[2022-06-02 04:44] shayaantx commented on #78
5.4.1 should have the fix (building now), please let me know if you have any other issues @JulienSambre

[2022-07-03 01:35] #64 closed, assigned to nobody

[2022-08-18 22:13] jordemort commented on #20
I'd like this too, my Matrix server and my *arrs run in different locations and I don't want to punch a plaintext hole to the Matrix server for this

[2022-08-19 21:56] shayaantx commented on #20
I actually see this working in my own matrix server, are you seeing something different? I just specify an https url for the matrix server url and it sends commands just fine.

Lemme know

[2022-08-19 22:43] jordemort commented on #20
@shayaantx No, I haven't actually tried it because the docs said it wasn't supported; I'll give it a spin

[2022-08-21 00:19] shayaantx commented on #20
@jordemort sorry about that, when I wrote it I was using http, but I think over time I changed it so it shouldn't matter if its http or https anymore.

let me know if you have any issues

[2022-08-23 13:10] IvayloMilenkov opened #81 "getting error 400 when attempting to add movie/tv show (telegram/discord)"
running in docker instance
as stated in title, bot is connected, status shows green dot in both radarr and sonarr, tried it both on discord and telegram, whenever i click on "add" it just spits out Error! - Could not add movie, status-code=400, reason=Bad Request

[2022-08-24 01:09] shayaantx commented on #81
hi @IvayloMilenkov can you post your logs folder as a zip, or if you want to troubleshoot live post your telegram/discord, and I'll add you and we continue

also what version of radarr?

also what full command are you using?

[2022-08-24 08:30] IvayloMilenkov commented on #81
Hello there, just found the issue, was to do with the path i set for radarr and sonarr, closing the issue (needed to set the path as seen in radarr/sonarr media management)

[2022-08-24 08:30] #81 closed, assigned to nobody

[2022-08-25 01:04] shayaantx commented on #81
@IvayloMilenkov cool, lemme know if you have anymore issues

[2022-08-25 01:05] shayaantx commented on #20
@jordemort assuming this worked? or you disappeared into the ether? or switched to another bot?

lemme know if you encounter any other issues

[2022-08-25 01:05] #20 closed, assigned to nobody

[2022-08-25 01:14] jordemort commented on #20
Haven't had time to try yet, maybe this weekend. I'll let you know if I run into any trouble, otherwise you can assume it works :)

[2022-11-21 09:56] JulienSambre opened #83 "Add support for sonarr v4"
Hi!

First of all, thanks for the bot, I use it extensively with my AI to notify me when movies & co are downloading and it works like a charm.

I'd like to know if there is a plan to support Sonarr v4 API : I updated to Sonarr v4 a few weeks ago and it broke botdarr. I think there are changes on the Sonarr v4 API.

Thanks!

[2022-11-21 17:58] shayaantx commented on #83
@JulienSambre I'll try to take a look at this weekend or sometime during this week, didn't know they had a new version of sonarr out. I'm also open to PR's too

[2022-11-25 13:24] Sephiphi opened #84 "Enhance Telegram Support"
Hi,

First of all, thank's for your work, it's a complete tool to interact with in order to manage my library and very very useful.

I would like to know if it's planned to have a better integration of the bot into Telegram application.

Currently when we ask for a new content, the bot answers with each content in a new message.
It can generate a huge ammount of notification in my channel and we r

[2022-11-25 19:41] shayaantx commented on #84
@Sephiphi someone has asked for this before but I didn't necessarily want to do what other bots were doing - but I see your point from a usability perspective.

I'll take a look at doing at some point in next week or two. I'm also open to PR's